body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Josefin Sans', sans-serif;
}

header,h1 {
    background-color: #B10DC9;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 4px;
}

footer {
    background-color: #FFDC00;
}

h1,
h2,
h3 {
    font-family: 'Chewy', cursive;
}

.grid {
 display: grid;
 grid-template-rows: 25px 200px 25px 25px 200px 25px;
 grid-template-columns: 200px 200px 200px;
 border: 1px solid black;
}

img {
height: 170px;
width: 170px;
}
