body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Josefin Sans', sans-serif;
}

header,h1 {
    background-color: #B10DC9;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

footer {
    background-color: #FFDC00;
}

h1,
h2,
h3 {
    font-family: 'Chewy', cursive;
}

.flexbox {
 display: flex;
 flex-wrap: wrap
}

.contacts {
 padding-bottom: 15px;
 lineheight: 1.5;
}

.hovhov:hover {
transform: scale(2); 
}
